@import '../../scss/variables.scss';

.episodes {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr);

  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 0.5rem;
  }

  &__btn {
    border: 1px solid $gray;
    padding: 0.5rem;
  }

  &__active {
    background-color: $green;
    &:hover {
      color: black;
      background-color: beige;
    }
  }

  &__disabled {
    border: 1px dashed $gray;
    opacity: 0.5;
    background-color: inherit;
    cursor: default;
    pointer-events: none;
  }
}
