@import '../../scss/variables.scss';

.header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @media (max-width: 600px) {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    padding-top: 0.1rem;
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #000;
    order: -2;
  }

  &__title {
    font-size: 3rem;
    color: $personCard;
    font-family: 'Bellefair', serif;
    @media (max-width: 600px) {
      order: -1;
    }
  }
}
