.app {
  background-color: #202329;

  &__container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
    @media (max-width: 600px) {
      gap: 1rem;
    }
    @media (max-width: 400px) {
      padding: 0;
    }
  }

  &__content {
    background-color: #202329;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
  }
}
