.app {
  background-color: #202329;

  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  &__endless_scroller {
    background: #3c3e44;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
