@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$white: #ffffff;

$background: #202329;
$personCard: #3c3e44;
$red: #d63d2e;
$green: #55cc44;
$gray: #9e9e9e;
